.board-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.square{
  border: 1px solid;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-container{
  padding: 10px;
}